// VARIABLES

// MEDIA QUERIES
$sm: 620px;
$md: 980px;
$lg: 1150px;

// COLORS
$black: #000;
$white: #fff;

$bg-blue: #caf2f1;
$bg-beige: #eee0c9;

$grey-dark: #333d3c;
$grey-medium: #455251;
$grey-font: #868782;
$grey-light: #939d9a;

$beige-light: #fff2dd;
$beige-dark: #bab8ac;
$beige-dark-hover: #95938a;
